@media only screen and (min-width: 1920px) {

}

@media only screen and (min-width: 1530px) and (max-width: 1919px) {

}

/*DONE*/
@media only screen and (min-width: 1440px) and (max-width: 1529px) { 
/*WHAT IF*/
.what_if-text{
  margin-left: 20px;
}

/*COMERCIAL*/
.comercial_1 {
  width: 310px;
  height: 700px;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.comercial_1 img{
  width: 300px;
}

.comercial_front {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 800px;
  background-color: #E6E6E6;
  position: absolute;
  -webkit-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
  box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
}

.cl_header svg{
  width: 50px;
  height: 50px;
}

.cl_header-block svg{
  width: 50px;
  height: 50px;
}

.burger{
  width: 50px;
  height: 30px;
}

.cl_text {
  margin-right: 330px;
  margin-top: 40px;
}

.cl_text h1 {
  font-family: "SegoeUI";
  font-size: 40px;
  font-weight: 100;
  line-height: 10px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.cl_text p {
  font-family: "SegoeUI-Bold";
  font-size: 40px;
  line-height: 10px;
}

.cl_link{
  display: flex;
  flex-wrap: wrap;
}

.cl_link a{
  font-size: 15px;
  margin-left: 15px;
}

.bb_text p {
  width: 270px;
  font-size: 15px;
}

.price {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price h1{
  font-size: 25px;
}

.price_button {
  width: 120px;
  height: 40px;
}

}

/*DONE*/
@media only screen and (min-width: 1200px) and (max-width: 1439px) {

/*WHAT IF*/
.what_if{
  width: 100%;
  height: 100%;
}

.text p {
  font-family: "SegoeUI";
  font-size: 24px;
  margin-left: 60px;
}

/*COMERCIAL*/
.comercial_1 {
  width: 310px;
  height: 700px;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 250px;
}

.comercial_1 img {
  width: 300px;
}

.comercial_front {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 800px;
  background-color: #E6E6E6;
  position: absolute;
  -webkit-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
  box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
}

.cl_header svg {
  width: 50px;
  height: 50px;
}

.cl_header-block svg {
  width: 50px;
  height: 50px;
}

.burger {
  width: 50px;
  height: 30px;
}

.cl_text {
  margin-right: 330px;
  margin-top: 40px;
}

.cl_text h1 {
  font-family: "SegoeUI";
  font-size: 40px;
  font-weight: 100;
  line-height: 10px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.cl_text p {
  font-family: "SegoeUI-Bold";
  font-size: 40px;
  line-height: 10px;
}

.cl_link {
  display: flex;
  flex-wrap: wrap;
}

.cl_link a {
  font-size: 15px;
  margin-left: 15px;
}

.bb_text p {
  width: 270px;
  font-size: 15px;
}

.price {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price h1 {
  font-size: 25px;
}

.price_button {
  width: 120px;
  height: 40px;
}

.price_button p{
  width: 120px;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
 
}

@media only screen and (min-width: 640px) and (max-width: 767px) {

}

@media only screen and (min-width: 480px) and (max-width: 639px) {

}

@media only screen and (min-width: 320px) and (max-width: 479px) {
 
}