/*DONE*/
@media only screen and (min-width: 1920px) {
/*MAIN*/
.main {
  width: 100%;
  height: 1000px;
}

/*WHAT IF*/
.what_if {
  width: 100%;
  height: 1000px;
}

/*PHOTO*/
.photo {
  width: 100%;
  height: 1000px;
}

.photo img {
  width: 100%;
  height: 1000px;
}

/*TEXT*/
.text {
  width: 100%;
  height: 1000px;
}

.text h1 {
  margin-left: 100px;
}

.text p {
  margin-left: 100px;
}

/*COMERCIAL*/
.comercial {
  width: 100%;
  height: 1000px;
}

.comercial_1 {
  width: 410px;
  height: 800px;
}

.comercial_1-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.cl-1-header_block1 {
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

.line {
  margin-left: 10px;
}

.xbox {
  margin-left: 10px;
}

.cl-1-header_block2 {
  width: 100px;
  height: 40px;
  margin-right: 20px;
}

.burger {
  margin-left: 25px;
}

.bottom_block {
  width: 100%;
  height: 290px;
}

.bb_text {
  margin-left: 25px;
}

.bb_text p {
  width: 340px;
}

.price {
  width: 100%;
  height: 50px;
}

.price_button {
  width: 120px;
  height: 50px;
  margin-right: 25px;
}

.button_text p {
  margin-left: 25px;
  width: 100%;
}

.cl1_margin {
  margin-left: 600px;
}

.comercial_front {
  width: 600px;
  height: 900px;
}

.cl_header {
  margin-top: 30px;
  width: 100%;
  height: 80px;
}

.cl_header-block {
  width: 80%;
  height: 80px;
}

.cl_text {
  margin-right: 350px;
  margin-top: 40px;
}

.cl_text h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.cl_photo {
  width: 80%;
  height: 450px;
}

.photo1 {
  width: 180px;
  height: 180px;
  margin-top: 10px;
}

.photo2 {
  width: 180px;
  height: 180px;
  margin-top: 10px;
}

.photo3 {
  width: 180px;
  height: 180px;
}

.photo4 {
  width: 180px;
  height: 180px;
}

.cl_links {
  width: 80%;
  height: 200px;
}

.cl_link {
  width: 100%;
  height: 100px;
}

/*SLIDER*/
.slider {
  width: 100%;
  height: 1000px;
}

.slider__wrapper {
  margin-top: 125px;
}

.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
}

.slider__control {
  top: 50%;
  width: 40px;
  height: 50px;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  width: 20px;
  height: 20px;
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
}

.slider_1 {
  width: 500px;
  height: 800px;
}

.slider_2 {
  width: 500px;
  height: 800px;
}

.sl-2_header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-2_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-2_text {
  margin-top: 100px;
}

.sl-2_text h1 {
  margin: 0;
  padding: 0;
}

.sl-2_photo {
  width: 80%;
  height: 400px;
}

.sl-2-photo1 {
  width: 150px;
  height: 150px;
}

.sl-2-photo2 {
  width: 150px;
  height: 150px;
}

.sl-2-photo3 {
  width: 150px;
  height: 150px;
}

.sl-2-photo4 {
  width: 150px;
  height: 150px;
}

.slider_4 {
  width: 500px;
  height: 800px;
}

.slider_4-header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-4_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-4_text {
  width: 80%;
  height: 100px;
}

.sl-4_form {
  width: 80%;
  height: 500px;
}

.sl-4_form-text {
  width: 100%;
  height: 100px;
}

.sl-4_form-element {
  margin-top: 50px;
}

.name {
  width: 45%;
  height: 35px;
}

.email {
  width: 45%;
  height: 35px;
}

.subject {
  width: 90%;
  height: 200px;
  margin-top: 40px;
}

.slider_5 {
  width: 500px;
  height: 800px;
}

.slider_5-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.sl-5-header_block1 {
  margin-left: 20px;
}

.line {
  margin-left: 10px;
}

.xbox {
  margin-left: 10px;
}

.sl-5-header_block2 {
  margin-right: 20px;
}

.burger {
  margin-left: 25px;
}

.sl-5_bottom_block {
  width: 100%;
  height: 200px;
}

.sl-5_bottom_block h1 {
  margin: 90px 0 0 0;
}

.sl-5_bb_text {
  margin-left: 25px;
}

.sl-5_series_s {
  margin-top: 50px;
}

.slider_6 {
  width: 500px;
  height: 800px;
}

}
/*DONE*/
@media only screen and (min-width: 1530px) and (max-width: 1919px) {
/*MAIN*/
.main {
  width: 100%;
  height: 1000px;
}

/*WHAT IF*/
.what_if {
  width: 100%;
  height: 1000px;
}

/*PHOTO*/
.photo {
  width: 100%;
  height: 1000px;
}

.photo img {
  width: 100%;
  height: 1000px;
}

/*TEXT*/
.text {
  width: 100%;
  height: 1000px;
}

.text h1 {
  margin-left: 100px;
}

.text p {
  margin-left: 100px;
}

/*COMERCIAL*/
.comercial {
  width: 100%;
  height: 1000px;
}

.comercial_1 {
  width: 410px;
  height: 800px;
}

.comercial_1-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.cl-1-header_block1 {
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

.line {
  margin-left: 10px;
}

.xbox {
  margin-left: 10px;
}

.cl-1-header_block2 {
  width: 100px;
  height: 40px;
  margin-right: 20px;
}

.burger {
  margin-left: 25px;
}

.bottom_block {
  width: 100%;
  height: 290px;
}

.bb_text {
  margin-left: 25px;
}

.bb_text p {
  width: 340px;
}

.price {
  width: 100%;
  height: 50px;
}

.price_button {
  width: 120px;
  height: 50px;
  margin-right: 25px;
}

.button_text p {
  margin-left: 25px;
  width: 100%;
}

.cl1_margin {
  margin-left: 600px;
}

.comercial_front {
  width: 600px;
  height: 900px;
}

.cl_header {
  margin-top: 30px;
  width: 100%;
  height: 80px;
}

.cl_header-block {
  width: 80%;
  height: 80px;
}

.cl_text {
  margin-right: 350px;
  margin-top: 40px;
}

.cl_text h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.cl_photo {
  width: 80%;
  height: 450px;
}

.photo1 {
  width: 180px;
  height: 180px;
  margin-top: 10px;
}

.photo2 {
  width: 180px;
  height: 180px;
  margin-top: 10px;
}

.photo3 {
  width: 180px;
  height: 180px;
}

.photo4 {
  width: 180px;
  height: 180px;
}

.cl_links {
  width: 80%;
  height: 200px;
}

.cl_link {
  width: 100%;
  height: 100px;
}

/*SLIDER*/
.slider {
  width: 100%;
  height: 1000px;
}

.slider__wrapper {
  margin-top: 125px;
}

.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
}

.slider__control {
  top: 50%;
  width: 40px;
  height: 50px;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  width: 20px;
  height: 20px;
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
}

.slider_1 {
  width: 500px;
  height: 800px;
}

.slider_2 {
  width: 500px;
  height: 800px;
}

.sl-2_header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-2_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-2_text {
  margin-top: 100px;
}

.sl-2_text h1 {
  margin: 0;
  padding: 0;
}

.sl-2_photo {
  width: 80%;
  height: 400px;
}

.sl-2-photo1 {
  width: 150px;
  height: 150px;
}

.sl-2-photo2 {
  width: 150px;
  height: 150px;
}

.sl-2-photo3 {
  width: 150px;
  height: 150px;
}

.sl-2-photo4 {
  width: 150px;
  height: 150px;
}

.slider_4 {
  width: 500px;
  height: 800px;
}

.slider_4-header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-4_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-4_text {
  width: 80%;
  height: 100px;
}

.sl-4_form {
  width: 80%;
  height: 500px;
}

.sl-4_form-text {
  width: 100%;
  height: 100px;
}

.sl-4_form-element {
  margin-top: 50px;
}

.name {
  width: 45%;
  height: 35px;
}

.email {
  width: 45%;
  height: 35px;
}

.subject {
  width: 90%;
  height: 200px;
  margin-top: 40px;
}

.slider_5 {
  width: 500px;
  height: 800px;
}

.slider_5-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.sl-5-header_block1 {
  margin-left: 20px;
}

.line {
  margin-left: 10px;
}

.xbox {
  margin-left: 10px;
}

.sl-5-header_block2 {
  margin-right: 20px;
}

.burger {
  margin-left: 25px;
}

.sl-5_bottom_block {
  width: 100%;
  height: 200px;
}

.sl-5_bottom_block h1 {
  margin: 90px 0 0 0;
}

.sl-5_bb_text {
  margin-left: 25px;
}

.sl-5_series_s {
  margin-top: 50px;
}

.slider_6 {
  width: 500px;
  height: 800px;
}
}
/*DONE*/
@media only screen and (min-width: 1440px) and (max-width: 1529px) {
/*MAIN*/
.main {
  width: 100%;
  height: 700px;
}

/*WHAT IF*/
.what_if {
  width: 100%;
  height: 700px;
}

.what_if-text {
  margin-left: 20px;
}
/*PHOTO*/
.photo {
  width: 100%;
  height: 700px;
}

.photo img {
  width: 100%;
  height: 700px;
}

/*TEXT*/
.text {
  width: 100%;
  height: 700px;
}

.text h1 {
  margin-left: 100px;
}

.text p {
  margin-left: 100px;
}

/*COMERCIAL*/
.comercial {
  width: 100%;
  height: 750px;
}

.comercial_1 {
  width: 310px;
  height: 600px;
}

.comercial_1-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.cl-1-header_block1 svg {
  width: 25px;
  height: 25px;
  margin: 0 0 0 0;
}

.cl-1-header_block2 svg {
  width: 25px;
  height: 25px;
}

.comercial_1 img {
  width: 200px;
}

.cl-1-header_block1 {
  width: 150px;
  height: 40px;
  margin-left: 20px;
}

.line {
  margin-left: 0;
}

.xbox {
  margin-left: 0;
}

.cl-1-header_block2 {
  width: 100px;
  height: 40px;
  margin-right: 20px;
}

.burger {
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.bottom_block {
  width: 100%;
  height: 290px;
}

.bb_text {
  margin-left: 10px;
}

.bb_text p {
  width: 290px;
}

.price {
  width: 100%;
  height: 50px;
}

.price h1{
  font-size: 25px;
}

.price_button {
  width: 100px;
  height: 50px;
  margin-right: 25px;
}

.button_text p {
  margin-left: 15px;
  margin-bottom: 5px;
  width: 100%;
}

.cl1_margin {
  margin-left: 600px;
}

.comercial_front {
  width: 600px;
  height: 710px;
}

.cl_header svg {
  width: 50px;
  height: 50px;
}

.cl_header-block svg {
  width: 50px;
  height: 50px;
}

.cl_header {
  margin-top: 30px;
  width: 100%;
  height: 80px;
}

.cl_header-block {
  width: 80%;
  height: 80px;
}

.cl_text {
  margin-right: 350px;
  margin-top: 40px;
}

.cl_text h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 0;
}

.cl_text p{
  line-height: 10px;
}

.cl_photo {
  width: 70%;
  height: 400px;
}

.photo1 {
  width: 145px;
  height: 145px;
  
}

.photo2 {
  width: 145px;
  height: 145px;
  
}

.photo3 {
  width: 145px;
  height: 145px;
  margin-top: 10px;
}

.photo4 {
  width: 145px;
  height: 145px;
  margin-top: 10px;
}

.cl_links {
  width: 80%;
  height: 200px;
}

.cl_link {
  width: 100%;
  height: 100px;
}

/*SLIDER*/
.slider {
  width: 100%;
  height: 1000px;
}

.slider__wrapper {
  margin-top: 125px;
}

.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
}

.slider__control {
  top: 50%;
  width: 40px;
  height: 50px;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  width: 20px;
  height: 20px;
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
}

.slider_1 {
  width: 500px;
  height: 800px;
}

.slider_2 {
  width: 500px;
  height: 800px;
}

.sl-2_header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-2_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-2_text {
  margin-top: 100px;
}

.sl-2_text h1 {
  margin: 0;
  padding: 0;
}

.sl-2_photo {
  width: 80%;
  height: 400px;
}

.sl-2-photo1 {
  width: 150px;
  height: 150px;
}

.sl-2-photo2 {
  width: 150px;
  height: 150px;
}

.sl-2-photo3 {
  width: 150px;
  height: 150px;
}

.sl-2-photo4 {
  width: 150px;
  height: 150px;
}

.slider_4 {
  width: 500px;
  height: 800px;
}

.slider_4-header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-4_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-4_text {
  width: 80%;
  height: 100px;
}

.sl-4_form {
  width: 80%;
  height: 500px;
}

.sl-4_form-text {
  width: 100%;
  height: 100px;
}

.sl-4_form-element {
  margin-top: 50px;
}

.name {
  width: 45%;
  height: 35px;
}

.email {
  width: 45%;
  height: 35px;
}

.subject {
  width: 90%;
  height: 200px;
  margin-top: 40px;
}

.slider_5 {
  width: 500px;
  height: 800px;
}

.slider_5-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.sl-5-header_block1 {
  margin-left: 20px;
}

.line {
  margin-left: 10px;
}

.xbox {
  margin-left: 10px;
}

.sl-5-header_block2 {
  margin-right: 20px;
}

.burger {
  margin-left: 25px;
}

.sl-5_bottom_block {
  width: 100%;
  height: 200px;
}

.sl-5_bottom_block h1 {
  margin: 90px 0 0 0;
}

.sl-5_bb_text {
  margin-left: 25px;
}

.sl-5_series_s {
  margin-top: 50px;
}

.slider_6 {
  width: 500px;
  height: 800px;
}
  

}
/*DONE*/
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
/*MAIN*/
.main {
  width: 100%;
  height: 700px;
}

/*WHAT IF*/
.what_if {
  width: 100%;
  height: 700px;
}

.what_if-text {
  margin-left: 20px;
}
/*PHOTO*/
.photo {
  width: 100%;
  height: 700px;
}

.photo img {
  width: 100%;
  height: 700px;
}

/*TEXT*/
.text {
  width: 100%;
  height: 700px;
}

.text h1 {
  margin-left: 50px;
}

.text p {
  margin-left: 50px;
}

/*COMERCIAL*/
.comercial {
  width: 100%;
  height: 750px;
}

.comercial_1 {
  width: 310px;
  height: 600px;
}

.comercial_1-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.cl-1-header_block1 svg {
  width: 25px;
  height: 25px;
  margin: 0 0 0 0;
}

.cl-1-header_block2 svg {
  width: 25px;
  height: 25px;
}

.comercial_1 img {
  width: 200px;
}

.cl-1-header_block1 {
  width: 150px;
  height: 40px;
  margin-left: 20px;
}

.line {
  margin-left: 0;
}

.xbox {
  margin-left: 0;
}

.cl-1-header_block2 {
  width: 100px;
  height: 40px;
  margin-right: 20px;
}

.burger {
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.bottom_block {
  width: 100%;
  height: 290px;
}

.bb_text {
  margin-left: 10px;
}

.bb_text p {
  width: 290px;
}

.price {
  width: 100%;
  height: 50px;
}

.price h1{
  font-size: 25px;
}

.price_button {
  width: 100px;
  height: 50px;
  margin-right: 25px;
}

.button_text p {
  margin-left: 15px;
  margin-bottom: 5px;
  width: 100%;
}

.cl1_margin {
  margin-left: 500px;
}

.comercial_front {
  width: 500px;
  height: 710px;
}

.cl_header svg {
  width: 50px;
  height: 50px;
}

.cl_header-block svg {
  width: 50px;
  height: 50px;
}

.cl_header {
  margin-top: 30px;
  width: 100%;
  height: 80px;
}

.cl_header-block {
  width: 80%;
  height: 80px;
}

.cl_text {
  margin-right: 320px;
  margin-top: 40px;
}

.cl_text h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 0;
}

.cl_text p{
  line-height: 10px;
}

.cl_photo {
  width: 70%;
  height: 400px;
}

.photo1 {
  width: 145px;
  height: 145px;
  
}

.photo2 {
  width: 145px;
  height: 145px;
  
}

.photo3 {
  width: 145px;
  height: 145px;
  margin-top: 10px;
}

.photo4 {
  width: 145px;
  height: 145px;
  margin-top: 10px;
}

.cl_links {
  width: 90%;
  height: 200px;
  
}

.cl_link {
  width: 80%;
  height: 100px;
}

/*SLIDER*/
.slider {
  width: 100%;
  height: 700px;
}

.slider__wrapper {
  margin-top: 15px;
}

.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
}

.slider__control {
  top: 50%;
  width: 40px;
  height: 50px;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  width: 20px;
  height: 20px;
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
}

.slider_1 {
  width: 500px;
  height: 690px;
}

.slider_2 {
  width: 500px;
  height: 800px;
}

.sl-2_header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-2_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-2_text {
  margin-top: 100px;
}

.sl-2_text h1 {
  margin: 0;
  padding: 0;
}

.sl-2_photo {
  width: 80%;
  height: 400px;
}

.sl-2-photo1 {
  width: 150px;
  height: 150px;
}

.sl-2-photo2 {
  width: 150px;
  height: 150px;
}

.sl-2-photo3 {
  width: 150px;
  height: 150px;
}

.sl-2-photo4 {
  width: 150px;
  height: 150px;
}

.slider_4 {
  width: 500px;
  height: 800px;
}

.slider_4-header {
  margin-top: 50px;
  width: 100%;
  height: 40px;
}

.sl-4_header-block {
  height: 40px;
  margin-left: 300px;
}

.sl-4_text {
  width: 80%;
  height: 100px;
}

.sl-4_form {
  width: 80%;
  height: 500px;
}

.sl-4_form-text {
  width: 100%;
  height: 100px;
}

.sl-4_form-element {
  margin-top: 50px;
}

.name {
  width: 45%;
  height: 35px;
}

.email {
  width: 45%;
  height: 35px;
}

.subject {
  width: 90%;
  height: 200px;
  margin-top: 40px;
}

.slider_5 {
  width: 500px;
  height: 800px;
}

.slider_5-header {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.sl-5-header_block1 {
  margin-left: 20px;
}

.line {
  margin-left: 10px;
}

.xbox {
  margin-left: 10px;
}

.sl-5-header_block2 {
  margin-right: 20px;
}

.burger {
  margin-left: 25px;
}

.sl-5_bottom_block {
  width: 100%;
  height: 200px;
}

.sl-5_bottom_block h1 {
  margin: 90px 0 0 0;
}

.sl-5_bb_text {
  margin-left: 25px;
}

.sl-5_series_s {
  margin-top: 50px;
}

.slider_6 {
  width: 500px;
  height: 800px;
}
}
/*DONE*/
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /*MAIN*/
  .main {
    width: 100%;
    height: 700px;
  }

  /*WHAT IF*/
  .what_if {
    width: 100%;
    height: 700px;
  }

  .what_if-text {
    margin-left: 20px;
  }

  /*PHOTO*/
  .photo {
    width: 100%;
    height: 700px;
  }

  .photo img {
    width: 100%;
    height: 700px;
  }

  /*TEXT*/
  .text {
    width: 100%;
    height: 700px;
  }

  .text h1 {
    margin-left: 50px;
  }

  .text p {
    margin-left: 50px;
  }

  /*COMERCIAL*/
  .comercial {
    width: 100%;
    height: 750px;
  }

  .comercial_1 {
    width: 310px;
    height: 600px;
  }

  .comercial_1-header {
    width: 100%;
    height: 40px;
    margin-top: 40px;
  }

  .cl-1-header_block1 svg {
    width: 25px;
    height: 25px;
    margin: 0 0 0 0;
  }

  .cl-1-header_block2 svg {
    width: 25px;
    height: 25px;
  }

  .comercial_1 img {
    width: 200px;
  }

  .cl-1-header_block1 {
    width: 150px;
    height: 40px;
    margin-left: 20px;
  }

  .line {
    margin-left: 0;
  }

  .xbox {
    margin-left: 0;
  }

  .cl-1-header_block2 {
    width: 100px;
    height: 40px;
    margin-right: 20px;
  }

  .burger {
    margin-left: 50px;
    width: 50px;
    height: 30px;
  }

  .bottom_block {
    width: 100%;
    height: 290px;
  }

  .bb_text {
    margin-left: 10px;
  }

  .bb_text p {
    width: 290px;
  }

  .price {
    width: 100%;
    height: 50px;
  }

  .price h1 {
    font-size: 25px;
  }

  .price_button {
    width: 100px;
    height: 50px;
    margin-right: 25px;
  }

  .button_text p {
    margin-left: 15px;
    margin-bottom: 5px;
    width: 100%;
  }

  .cl1_margin {
    margin-left: 390px;
  }

  .comercial_front {
    width: 450px;
    height: 710px;
  }

  .cl_header svg {
    width: 50px;
    height: 50px;
  }

  .cl_header-block svg {
    width: 50px;
    height: 50px;
  }

  .cl_header {
    margin-top: 30px;
    width: 100%;
    height: 80px;
  }

  .cl_header-block {
    width: 80%;
    height: 80px;
  }

  .cl_text {
    margin-right: 290px;
    margin-top: 40px;
  }

  .cl_text h1 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 0;
  }

  .cl_text p {
    line-height: 10px;
  }

  .cl_photo {
    width: 70%;
    height: 400px;
  }

  .photo1 {
    width: 145px;
    height: 145px;

  }

  .photo2 {
    width: 145px;
    height: 145px;

  }

  .photo3 {
    width: 145px;
    height: 145px;
    margin-top: 10px;
  }

  .photo4 {
    width: 145px;
    height: 145px;
    margin-top: 10px;
  }

  .cl_links {
    width: 90%;
    height: 200px;

  }

  .cl_link {
    width: 80%;
    height: 100px;
  }

  /*SLIDER*/
  .slider {
    width: 100%;
    height: 700px;
  }

  .slider__wrapper {
    margin-top: 15px;
  }

  .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .slider__control {
    top: 50%;
    width: 40px;
    height: 50px;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    width: 20px;
    height: 20px;
  }

  .slider__item>div {
    line-height: 250px;
    font-size: 100px;
  }

  .slider_1 {
    width: 400px;
    height: 670px;
  }

  .slider_2 {
    width: 400px;
    height: 670px;
  }

  .sl-2_header {
    margin-top: 50px;
    width: 100%;
    height: 40px;
  }

  .sl-2_header-block {
    height: 40px;
    margin-left: 200px;
  }

  .sl-2_text {
    margin-top: 100px;
  }

  .sl-2_text h1 {
    margin: 0;
    padding: 0;
  }

  .sl-2_photo {
    width: 80%;
    height: 350px;
  }

  .sl-2-photo1 {
    width: 150px;
    height: 150px;
  }

  .sl-2-photo2 {
    width: 150px;
    height: 150px;
  }

  .sl-2-photo3 {
    width: 150px;
    height: 150px;
  }

  .sl-2-photo4 {
    width: 150px;
    height: 150px;
  }

  .slider_4 {
    width: 400px;
    height: 670px;
  }

  .slider_4-header {
    margin-top: 50px;
    width: 100%;
    height: 40px;
  }

  .sl-4_header-block {
    height: 40px;
    margin-left: 200px;
  }

  .sl-4_text {
    width: 80%;
    height: 150px;
  }

  .sl-4_text p{
  line-height: normal;
  }

  .sl-4_form {
    width: 80%;
    height: 400px;
  }

  .sl-4_form-text {
    width: 100%;
    height: 100px;
  }

  .sl-4_form-element {
    margin-top: 50px;
  }

  .name {
    width: 45%;
    height: 35px;
  }

  .email {
    width: 45%;
    height: 35px;
  }

  .subject {
    width: 90%;
    height: 150px;
    margin-top: 40px;
  }

  .slider_5 {
    width: 400px;
    height: 670px;
  }

  .slider_5-header {
    width: 100%;
    height: 40px;
    margin-top: 40px;
  }

  .sl-5-header_block1 {
    margin-left: 20px;
  }

  .line {
    margin-left: 5px;
  }

  .xbox {
    margin-left: 5px;
  }

  .sl-5-header_block2 {
    margin-right: 30px;
  }

  .burger {
    margin-left: 0px;
  }

  .sl-5_bottom_block {
    width: 100%;
    height: 200px;
  }

  .sl-5_bottom_block h1 {
    margin: 40px 15px 0 0;
  }

  .sl-5_bb_text {
    margin-left: 25px;
  }

  .sl-5_series_s {
    margin-top: 50px;
  }

  .slider_6 {
    width: 400px;
    height: 670px;
  }
}
/*DONE*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /*MAIN*/
    .main {
      width: 100%;
      height: 700px;
    }

    /*WHAT IF*/
    .what_if {
      width: 100%;
      height: 100%;
    }

    .what_if-text {
      margin-left: 20px;
    }

    .what_if img{
      width: 500px;
    }

    /*PHOTO*/
    .photo {
      width: 100%;
      height: 500px;
    }

    .photo img {
      width: 100%;
      height: 500px;
    }

    /*TEXT*/
    .text {
      width: 100%;
      height: 700px;
    }

    .text h1 {
      margin-left: 50px;
    }

    .text p {
      margin-left: 50px;
    }

    /*COMERCIAL*/
    .comercial {
      width: 100%;
      height: 750px;
    }

    .comercial_1 {
      width: 310px;
      height: 600px;
    }

    .comercial_1-header {
      width: 100%;
      height: 40px;
      margin-top: 40px;
    }

    .cl-1-header_block1 svg {
      width: 25px;
      height: 25px;
      margin: 0 0 0 0;
    }

    .cl-1-header_block2 svg {
      width: 25px;
      height: 25px;
    }

    .comercial_1 img {
      width: 200px;
    }

    .cl-1-header_block1 {
      width: 150px;
      height: 40px;
      margin-left: 20px;
    }

    .line {
      margin-left: 0;
    }

    .xbox {
      margin-left: 0;
    }

    .cl-1-header_block2 {
      width: 60px;
      height: 40px;
      margin-right: 20px;
    }

    .burger {
      margin-left: 10px;
      width: 50px;
      height: 30px;
      display: none;
    }

    .bottom_block {
      width: 100%;
      height: 290px;
    }

    .bb_text {
      margin-left: 10px;
    }

    .bb_text p {
      width: 290px;
    }

    .price {
      width: 100%;
      height: 50px;
    }

    .price h1 {
      font-size: 25px;
    }

    .price_button {
      width: 100px;
      height: 50px;
      margin-right: 25px;
    }

    .button_text p {
      margin-left: 15px;
      margin-bottom: 5px;
      width: 100%;
    }

    .cl1_margin {
      margin-left: 50px;
    }

    .comercial_front {
      width: 450px;
      height: 710px;
      display: none;
    }

    /*SLIDER*/
    .slider {
      width: 100%;
      height: 700px;
    }

    .slider__wrapper {
      margin-top: 15px;
    }

    .slider__item {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .slider__control {
      top: 50%;
      width: 40px;
      height: 50px;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      width: 20px;
      height: 20px;
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
    }

    .slider_1 {
      width: 300px;
      height: 670px;
    }

    .slider_2 {
      width: 300px;
      height: 670px;
    }

    .sl-2_header {
      margin-top: 50px;
      width: 100%;
      height: 40px;
    }

    .sl-2_header svg{
      width: 30px;
      height: 30px;
    }

    .sl-2_header-block {
      height: 40px;
      margin-left: 150px;
    }

    .sl-2_text {
      margin-top: 0px;
    }

    .sl-2_text h1 {
      margin: 0;
      padding: 0;
    }

    .sl-2_photo {
      width: 80%;
      height: 350px;
    }

    .sl-2-photo1 {
      width: 100px;
      height: 100px;
    }

    .sl-2-photo2 {
      width: 100px;
      height: 100px;
    }

    .sl-2-photo3 {
      width: 100px;
      height: 100px;
    }

    .sl-2-photo4 {
      width: 100px;
      height: 100px;
    }

    .slider_4 {
      width: 300px;
      height: 670px;
    }

    .slider_4-header {
      margin-top: 50px;
      width: 100%;
      height: 40px;
    }

    .sl-4_header-block {
      height: 40px;
      margin-left: 200px;
    }

    .sl-4_text {
      width: 80%;
      height: 150px;
    }

    .sl-4_text h1{
      font-size: 24px;
    }

    .sl-4_text p {
      line-height: normal;
      font-size: 24px;
    }

    .sl-4_form {
      width: 80%;
      height: 400px;
    }

    .sl-4_form-text {
      width: 100%;
      height: 100px;
      display: none;
    }

    .sl-4_form-element {
      margin-top: 50px;
    }

    .name {
      width: 45%;
      height: 35px;
    }

    .email {
      width: 45%;
      height: 35px;
    }

    .subject {
      width: 90%;
      height: 150px;
      margin-top: 40px;
    }

    .slider_5 {
      width: 300px;
      height: 670px;
    }

    .slider_5-header {
      width: 100%;
      height: 40px;
      margin-top: 40px;
    }

    .sl-5-header_block1 {
      margin-left: 20px;
    }

    .sl-5_series_s img{
      width: 250px;
    }

    .line {
      margin-left: 5px;
    }

    .xbox {
      margin-left: 5px;
    }

    .sl-5-header_block2 {
      margin-right: 30px;
    }

    .sl-5_bottom_block {
      width: 100%;
      height: 200px;
    }

    .sl-5_bottom_block h1 {
      font-size: 25px;
      margin: 100px 15px 0 0;
    }

    .sl-5_bb_text {
      margin-left: 25px;
    }

    .sl-5_series_s {
      margin-top: 50px;
    }

    .slider_6 {
      width: 300px;
      height: 670px;
    }

    .slider_6-photo img{
      width: 300px;
      margin: 0 0 0 0;
    }
}
/*DONE*/
@media only screen and (min-width: 640px) and (max-width: 767px) {
      .logo{
        margin-left: 15px;
      }
  
      /*MAIN*/
      .main {
        width: 100%;
        height: 700px;
      }

      /*WHAT IF*/
      .what_if {
        width: 100%;
        height: 100%;
      }

      .what_if-text {
        margin-left: 20px;
      }

      .what_if-text p{
        font-size: 25px;
      }

      .what_if img {
        width: 400px;
      }

      /*PHOTO*/
      .photo {
        width: 100%;
        height: 500px;
      }

      .photo img {
        width: 100%;
        height: 500px;
      }

      /*TEXT*/
      .text {
        width: 100%;
        height: 500px;
      }

      .text h1 {
        margin-left: 50px;
      }

      .text p {
        margin-left: 30px;
      }

      /*COMERCIAL*/
      .comercial {
        width: 100%;
        height: 750px;
      }

      .comercial_1 {
        width: 310px;
        height: 600px;
      }

      .comercial_1-header {
        width: 100%;
        height: 40px;
        margin-top: 40px;
      }

      .cl-1-header_block1 svg {
        width: 25px;
        height: 25px;
        margin: 0 0 0 0;
      }

      .cl-1-header_block2 svg {
        width: 25px;
        height: 25px;
      }

      .comercial_1 img {
        width: 200px;
      }

      .cl-1-header_block1 {
        width: 150px;
        height: 40px;
        margin-left: 20px;
      }

      .line {
        margin-left: 0;
      }

      .xbox {
        margin-left: 0;
      }

      .cl-1-header_block2 {
        width: 60px;
        height: 40px;
        margin-right: 20px;
      }

      .burger {
        margin-left: 10px;
        width: 50px;
        height: 30px;
        display: none;
      }

      .bottom_block {
        width: 100%;
        height: 290px;
      }

      .bb_text {
        margin-left: 10px;
      }

      .bb_text p {
        width: 290px;
      }

      .price {
        width: 100%;
        height: 50px;
      }

      .price h1 {
        font-size: 25px;
      }

      .price_button {
        width: 100px;
        height: 50px;
        margin-right: 25px;
      }

      .button_text p {
        margin-left: 15px;
        margin-bottom: 5px;
        width: 100%;
      }

      .cl1_margin {
        margin-left: 8px;
      }

      .comercial_front {
        width: 450px;
        height: 710px;
        display: none;
      }

      /*SLIDER*/
      .slider {
        width: 100%;
        height: 700px;
      }

      .slider__wrapper {
        margin-top: 15px;
      }

      .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .slider__control {
        top: 50%;
        width: 40px;
        height: 50px;
      }

      .slider__control_left {
        left: 0;
      }

      .slider__control_right {
        right: 0;
      }

      .slider__control::before {
        width: 20px;
        height: 20px;
      }

      .slider__item>div {
        line-height: 250px;
        font-size: 100px;
      }

      .slider_1 {
        width: 300px;
        height: 670px;
      }

      .slider_2 {
        width: 300px;
        height: 670px;
      }

      .sl-2_header {
        margin-top: 50px;
        width: 100%;
        height: 40px;
      }

      .sl-2_header svg {
        width: 30px;
        height: 30px;
      }

      .sl-2_header-block {
        height: 40px;
        margin-left: 150px;
      }

      .sl-2_text {
        margin-top: 0px;
      }

      .sl-2_text h1 {
        margin: 0;
        padding: 0;
      }

      .sl-2_photo {
        width: 80%;
        height: 350px;
      }

      .sl-2-photo1 {
        width: 100px;
        height: 100px;
      }

      .sl-2-photo2 {
        width: 100px;
        height: 100px;
      }

      .sl-2-photo3 {
        width: 100px;
        height: 100px;
      }

      .sl-2-photo4 {
        width: 100px;
        height: 100px;
      }

      .slider_4 {
        width: 300px;
        height: 670px;
      }

      .slider_4-header {
        margin-top: 50px;
        width: 100%;
        height: 40px;
      }

      .sl-4_header-block {
        height: 40px;
        margin-left: 200px;
      }

      .sl-4_text {
        width: 80%;
        height: 150px;
      }

      .sl-4_text h1 {
        font-size: 24px;
      }

      .sl-4_text p {
        line-height: normal;
        font-size: 24px;
      }

      .sl-4_form {
        width: 80%;
        height: 400px;
      }

      .sl-4_form-text {
        width: 100%;
        height: 100px;
        display: none;
      }

      .sl-4_form-element {
        margin-top: 50px;
      }

      .name {
        width: 45%;
        height: 35px;
      }

      .email {
        width: 45%;
        height: 35px;
      }

      .subject {
        width: 90%;
        height: 150px;
        margin-top: 40px;
      }

      .slider_5 {
        width: 300px;
        height: 670px;
      }

      .slider_5-header {
        width: 100%;
        height: 40px;
        margin-top: 40px;
      }

      .sl-5-header_block1 {
        margin-left: 20px;
      }

      .sl-5_series_s img {
        width: 250px;
      }

      .line {
        margin-left: 5px;
      }

      .xbox {
        margin-left: 5px;
      }

      .sl-5-header_block2 {
        margin-right: 30px;
      }

      .sl-5_bottom_block {
        width: 100%;
        height: 200px;
      }

      .sl-5_bottom_block h1 {
        font-size: 25px;
        margin: 100px 15px 0 0;
      }

      .sl-5_bb_text {
        margin-left: 25px;
      }

      .sl-5_series_s {
        margin-top: 50px;
      }

      .slider_6 {
        width: 300px;
        height: 670px;
      }

      .slider_6-photo img {
        width: 300px;
        margin: 0 0 0 0;
      }
}
