body{
    background-color:#E6E6E6;
    width: auto;
    height: auto;
}
/*HEADER*/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #444141;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

.logo{
    width: 80px;
    height: 80px;  
}

.navigation {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

.nav_link {
    color: #000000;
    text-decoration: none;
}

.nav_link:hover {
    background-color: rgb(80, 77, 77);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.nav_link p{
    font-family: "SegoeUI-BoldItalic";
    font-size: 20px;
}
/*MAIN*/
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*WHAT IF*/
.what_if{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.what_if-text span{
    font-family: "SegoeUI";
    font-size: 54px;
}

.what_if-text p{
    font-family: "SegoeUI-Bold";
    font-size: 44px;
}

/*TEXT*/
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text span{
    font-family: "SegoeUI-Bold";
    font-size: 54px;
}

.text p{
    font-family: "SegoeUI";
    font-size: 24px;
}

/*COMERCIAL*/
.comercial {
    width: 100%;
    height: 1000px;
    background-color: #2a2929;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comercial_1 {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comercial_1-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom_block{
    background-color: #000000;
}

.bb_text{
    font-family: "SegoeUI";
    color: white;
}

.bb_text h5{
    color: #707070;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price_button{
    background-color: #E6E6E6;
    text-decoration: none;
}

.button_text{
    font-family: "SegoeUI";
    font-size: 18px;
    color: black;
}

.comercial_front {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #E6E6E6;
    position: absolute;
    -webkit-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
    box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
}

.cl_header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cl_header-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.cl_text h1{
    font-family: "SegoeUI";
    font-size: 40px;
    font-weight: 100;
}

.cl_text p{
    font-family: "SegoeUI-Bold";
    font-size: 40px;
}

.cl_photo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photo1{
    background-color: rgb(80, 77, 77);
}

.photo2 {
    background-color: rgb(80, 77, 77);
}

.photo3 {
    background-color: rgb(80, 77, 77);
}

.photo4 {
    background-color: rgb(80, 77, 77);
}

.cl_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cl_link a{
    text-decoration: none;
    color: black;
    font-family: "SegoeUI";
    font-size: 20px;
}

/*SLIDER*/
.slider {
    position: relative;
    overflow: hidden;
    background-color: #2a2929;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider__control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control::before {
    content: '';
    display: inline-block;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    text-align: center;
}

.slider_1{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_2{
background-color: #E6E6E6;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.sl-2_header {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

}

.sl-2_header-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.sl-2_text h1 {
    font-family: "SegoeUI";
    font-size: 30px;
    font-weight: 100;
    line-height: 15px;
}

.sl-2_text p {
    font-family: "SegoeUI-Bold";
    font-size: 30px;
    line-height: 15px;
}

.sl-2_photo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sl-2-photo1 {
    background-color: rgb(80, 77, 77);
}

.sl-2-photo2 {
    background-color: rgb(80, 77, 77);
}

.sl-2-photo3 {
    background-color: rgb(80, 77, 77);
}

.sl-2-photo4 {
    background-color: rgb(80, 77, 77);
}

.slider_4 {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider_4-header{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.sl-4_header-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.sl-4_text{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.sl-4_text h1{
    font-family: "SegoeUI";
    font-size: 30px;
    line-height: 0;
    font-weight: 100;
}

.sl-4_text p{
    font-family: "SegoeUI-Bold";
    font-size: 30px;
    line-height: 0;
}

.sl-4_form-text{
    display: flex;
    flex-wrap: wrap;
}

.sl-4_form-text p{
    font-family: "SegoeUI";
    font-size: 24px;
    line-height: 0;
}

.sl-4_form-text h1{
    font-family: "SegoeUI";
    font-size: 30px;
    line-height: 20px;
}

.sl-4_form-element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name{
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid #444141;
    font-size: 24px;
}

.email{
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid #444141;
    font-size: 24px;
}

.subject{
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid #444141;
    font-size: 24px;
}

.slider_5 {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider_5-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sl-5_bottom_block {
    background-color: #000000;
}

.sl-5_bottom_block h1{
    font-size: 45px;
    line-height: 0;
}

.sl-5_bb_text {
    font-family: "SegoeUI";
    color: white;
}

.slider_6{
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}