body{
    background-color:#E6E6E6;
    width: auto;
    height: auto;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #444141;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

.logo{
    width: 80px;
    height: 80px;  
}

.navigation {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

.nav_link {
    color: #000000;
    text-decoration: none;
}

.nav_link:hover {
    background-color: rgb(80, 77, 77);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.nav_link p{
    font-family: "SegoeUI-BoldItalic";
    font-size: 20px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.what_if{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.what_if-text span{
    font-family: "SegoeUI";
    font-size: 54px;
}

.what_if-text p{
    font-family: "SegoeUI-Bold";
    font-size: 44px;
}

.photo{
    width: 100%;
    height: 1000px;
}

.photo img{
    width: 100%;
    height: 1000px;
}

.text{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text h1{
    margin-left: 100px;
}

.text span{
    font-family: "SegoeUI-Bold";
    font-size: 54px;
}

.text p{
    font-family: "SegoeUI";
    font-size: 24px;
    margin-left: 100px;
}

.comercial {
    width: 100%;
    height: 1000px;
    background-color: #2a2929;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comercial_1 {
    width: 410px;
    height: 800px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comercial_1-header {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cl-1-header_block1{
    width: 100px;
    height: 40px;
    margin-left: 20px;
}

.line{
    margin-left: 10px;
}

.xbox{
    margin-left: 10px;
}

.cl-1-header_block2 {
    width: 100px;
    height: 40px;
    margin-right: 20px;
}

.burger{
    margin-left: 25px;
}

.bottom_block{
    width: 100%;
    height: 290px;
    background-color: #000000;
}

.bb_text{
    font-family: "SegoeUI";
    color: white;
    margin-left: 25px;
}

.bb_text h5{
    color: #707070;
}

.bb_text p{
    width: 340px;
}

.price{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price_button{
    width: 120px;
    height: 50px;
    background-color: #E6E6E6;
    text-decoration: none;
    margin-right: 25px;
}

.button_text{
    font-family: "SegoeUI";
    font-size: 18px;
    color: black;
}

.button_text p{
    margin-left: 25px;
}

.cl1_margin {
    margin-left: 600px;
}

.comercial_front {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 600px;
    height: 900px;
    background-color: #E6E6E6;
    position: absolute;
    -webkit-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
    box-shadow: -1px 0px 21px 0px rgba(50, 50, 50, 1);
}

.cl_header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 80px;
}

.cl_header-block{
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.cl_text{
    margin-right: 350px;
    margin-top: 40px;
}

.cl_text h1{
    font-family: "SegoeUI";
    font-size: 40px;
    font-weight: 100;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.cl_text p{
    font-family: "SegoeUI-Bold";
    font-size: 40px;
}

.cl_photo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    height: 450px;
}

.photo1{
    background-color: rgb(80, 77, 77);
    width: 180px;
    height: 180px;
    margin-top: 10px;
}

.photo2 {
    background-color: rgb(80, 77, 77);
    width: 180px;
    height: 180px;
    margin-top: 10px;
}

.photo3 {
    background-color: rgb(80, 77, 77);
    width: 180px;
    height: 180px;
}

.photo4 {
    background-color: rgb(80, 77, 77);
    width: 180px;
    height: 180px;
}

.cl_links{
    width: 80%;
    height: 200px;
}

.cl_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.cl_link a{
    text-decoration: none;
    color: black;
    font-family: "SegoeUI";
    font-size: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1000px;
    background-color: #2a2929;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    margin-top: 125px;
}

.slider__item {
    flex: 0 0 50%;
    max-width: 50%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}

.slider_1{
    width: 500px;
    height: 800px;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.slider_2{
width: 500px;
height: 800px;
background-color: #E6E6E6;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-left: 150px;
}

.sl-2_header {
 margin-top: 50px;
 width: 100%;
 height: 40px;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

}

.sl-2_header-block {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 300px;
}

.sl-2_text {
    margin-top: 100px;
}

.sl-2_text h1 {
    font-family: "SegoeUI";
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    line-height: 15px;
}

.sl-2_text p {
    font-family: "SegoeUI-Bold";
    font-size: 30px;
    line-height: 15px;
}

.sl-2_photo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    height: 400px;
}

.sl-2-photo1 {
    background-color: rgb(80, 77, 77);
    width: 150px;
    height: 150px;
}

.sl-2-photo2 {
    background-color: rgb(80, 77, 77);
    width: 150px;
    height: 150px;
}

.sl-2-photo3 {
    background-color: rgb(80, 77, 77);
    width: 150px;
    height: 150px;
}

.sl-2-photo4 {
    background-color: rgb(80, 77, 77);
    width: 150px;
    height: 150px;
}

.slider_4 {
    width: 500px;
    height: 800px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}

.slider_4-header{
 margin-top: 50px;
 width: 100%;
 height: 40px;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.sl-4_header-block{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 300px;
}

.sl-4_text{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    height: 100px;
}

.sl-4_text h1{
    font-family: "SegoeUI";
    font-size: 30px;
    line-height: 0;
    font-weight: 100;
}

.sl-4_text p{
    font-family: "SegoeUI-Bold";
    font-size: 30px;
    line-height: 0;
}

.sl-4_form{
    width: 80%;
    height: 500px;
}

.sl-4_form-text{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.sl-4_form-text p{
    font-family: "SegoeUI";
    font-size: 24px;
    line-height: 0;
}

.sl-4_form-text h1{
    font-family: "SegoeUI";
    font-size: 30px;
    line-height: 20px;
}

.sl-4_form-element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.name{
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid #444141;
    width: 45%;
    height: 35px;
    font-size: 24px;
}

.email{
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid #444141;
    width: 45%;
    height: 35px;
    font-size: 24px;
}

.subject{
    border: none;
    background-color: #E6E6E6;
    border-bottom: 2px solid #444141;
    width: 90%;
    height: 200px;
    font-size: 24px;
    margin-top: 40px;
}

.slider_5 {
    width: 500px;
    height: 800px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}

.slider_5-header {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sl-5-header_block1 {
    margin-left: 20px;
}

.line {
    margin-left: 10px;
}

.xbox {
    margin-left: 10px;
}

.sl-5-header_block2 {
    margin-right: 20px;
}

.burger {
    margin-left: 25px;
}

.sl-5_bottom_block {
    width: 100%;
    height: 200px;
    background-color: #000000;
}

.sl-5_bottom_block h1{
    font-size: 45px;
    line-height: 0;
    margin: 90px 0 0 0;
}

.sl-5_bb_text {
    font-family: "SegoeUI";
    color: white;
    margin-left: 25px;
}

.sl-5_series_s{
    margin-top: 50px;
}

.slider_6{
     width: 500px;
     height: 800px;
     background-color: #E6E6E6;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-left: 150px;
}